:root {
    /* Colors */
    --background: #121212;
    --text: #E0E0E0;
    --primary-buttons: #00A8E8;
    --hover-effect: #0085C7;
    --card-background: #1E1E1E;
    --heading-color: #FFFFFF;
    /* Fonts */
    --oswald: "Oswald", sans-serif;
    --rubik: "Rubik", sans-serif;
    --chivo: "Chivo", sans-serif;
    --comfortaa: "Comfortaa", sans-serif;
    --nunito: "Nunito", sans-serif;
    /* Others */
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
}

main {
    filter: blur(0px);
    transition: .2s ease;
}

main.open {
    filter: blur(2px);
    transition: .2s ease;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid var(--card-background);
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--background);
    z-index: 999;
}

header>a {
    color: var(--heading-color);
    font-family: var(--chivo);
    font-size: 1.5em;
    transition: .3s ease;
    font-size: 24px;
}

header>a:hover {
    color: var(--hover-effect);
    transition: .3s ease;
}

#navigation ul {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#navigation li a {
    color: var(--text);
    font-family: var(--chivo);
    font-size: 16px;
    padding: 10px;
    margin: 3px;
    transition: .3s ease;
}

#navigation li a:hover {
    color: var(--hover-effect);
    transition: .3s ease;
}

#navigation .active {
    color: var(--primary-buttons);
}

#hamburger {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
    color: white;
    transition: .3s ease;
}
#hamburger:hover {
    color: var(--hover-effect);
    transition: .3s ease;
}

main {
    text-align: center;
    color: white;
    max-width: 80vw;
    margin: auto;
}

main h1,
main h2 {
    font-family: var(--oswald);
    padding: 10px;
    font-size: 24px;
}

main h2 {
    font-size: 20px;
}

main p,
.content p {
    font-family: var(--nunito);
    font-size: 18px;
    font-weight: lighter;
    padding: 5px;
}

.connect {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.connect li {
    padding: 5px;
    margin: 5px;
    transition: .3s ease;
}

.connect li:hover,
.content button:hover,
dialog button:hover,
.buttons button:hover {
    transform: scale(1.1);
    transition: .3s ease;
}

.connect li a {
    color: white;
    background-color: var(--card-background);
    color: var(--primary-buttons);
    padding: 10px;
    border-radius: 5px;
    font-family: var(--comfortaa);
    border: 1px solid white;
    box-shadow: 0 0 .2em black;
    font-size: 12px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.content img {
    width: 200px;
    padding: 10px;
}

.content h3 {
    font-size: 16px;
    font-family: var(--oswald);
    padding: 5px;
}

.content div {
    border: 1px solid var(--card-background);
    box-shadow: 0em 0em .15em white;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

.content button,
dialog button {
    display: block;
    background-color: var(--card-background);
    color: var(--primary-buttons);
    padding: 10px;
    margin: 5px auto;
    border-radius: 5px;
    font-family: var(--comfortaa);
    border: 1px solid white;
    box-shadow: 0 0 .2em black;
    font-size: 12px;
    transition: .3s ease;
    cursor: pointer;
}

dialog {
    background-color: var(--card-background);
    color: white;
    border: 1px solid var(--hover-effect);
    margin: auto;
    max-width: 90vw;
    padding: 20px;
    border-radius: 10px;
}

dialog h3 {
    font-family: var(--oswald);
    font-size: 24px;
    padding: 5px;
    margin: 5px;
}

dialog p {
    font-family: var(--inter);
    margin: 5px;
    padding: 5px;
}

dialog a {
    color: var(--primary-buttons);
    /* padding: 5px; */
    /* text-decoration: underline; */
    border-bottom: 1px solid var(--primary-buttons);
    margin: 5px;
    transition: .3s ease;
    font-family: var(--comfortaa);
}

dialog a:hover {
    color: var(--hover-effect);
    transition: .3s ease;
}

dialog a:active {
    color: var(--background);
}

::backdrop {
    background-image: linear-gradient(45deg, var(--card-background), var(--background));
    opacity: .9;
}

/* The button doesn't stay fixed in place, fix this on your next visit */
#back-to-top {
    position: fixed;
    bottom: 100%;
    right: 10px;
    font-size: 30px;
    transform: rotate(315deg);
    cursor: pointer;
    opacity: .7;
    transition: .5s ease;
    filter: opacity(0);
    z-index: 999;
}

#back-to-top.show {
    bottom: 10px;
    filter: opacity(1);
}

.buttons button {
    padding: 10px;
    margin: 0 5px;
    box-shadow: 0em 0em .5em black;
    font-family: var(--inter);
    background-image: linear-gradient(45deg, var(--hover-effect), var(--primary-buttons));
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: .5s ease;
    font-size: 12px;
}

.contact {
    border-radius: 10px;
    box-shadow: 0em 0em .1em var(--heading-color);
}

.contact img {
    width: 15px;
    /* margin-right: 1px; */
}

.contact a {
    display: block;
    text-align: center;
    margin: 5px;
    color: var(--primary-buttons);
    transition: .2s ease;
    font-family: var(--nunito);
    font-size: 14px;
}

.contact a:active {
    color: var(--background);
    transition: .2s ease;
}

.contact a:hover {
    color: var(--hover-effect);
    transition: .2s ease;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contact-container div {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.skills-content {
    padding: 10px;
}

.skills-body {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.skills-body div {
    padding: 10px;
    border: 1px solid var(--card-background);
    box-shadow: 0em 0em .2em var(--heading-color);
    border-radius: 10px;
    margin: 4px 5px 10px;
    /* width: 90%; */
    transition: .3s ease;
    cursor: default;
}

.skills-body div:hover {
    transform: scale(1.1);
    box-shadow: 0em 0em .5em var(--hover-effect);
    transition: .3s ease;
}

@media screen and (max-width: 36rem) {
    #hamburger {
        display: block;
    }

    #navigation {
        position: absolute;
        top: -1000%;
        left: 0;
        width: 100%;
        z-index: 1000;
        overflow: hidden;
        transition: .5s ease;
        border-bottom: none;
        background-color: var(--card-background);
        z-index: -1;
    }

    #navigation.open {
        top: 100%;
        border-bottom: 1px solid var(--card-background);
        transition: .5s ease;
    }

    #navigation ul {
        display: block;
    }

    #navigation li {
        width: 99%;
        margin: 3px;
    }

    #navigation li a {
        width: 100%;
        text-align: center;
        display: block;
    }

    main p {
        font-size: 16px;
        font-weight: lighter;
    }

    .contact-container {
        display: grid;
    }

    .skills-body div {
        width: 100%;
    }
}