:root {
    /* Colors */
    --color0: #fcfdfe;
    --color1: #373958;
    --color2: #106798;
    --color3: #61ddf8;

    /* Fonts */
    --general-sans: 'General Sans', sans-serif;
    --gambetta: 'Gambetta', serif;

    /* Font Sizes */
    --h1-big: 54px;
    --h2-big: 36px;
    --h3-big: 24px;
    --p-big: 20px;
    --a-big: 16px;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: var(--gambetta);
}

body {
    background-color: var(--color0);
    color: var(--color1);
    font-size: 16px;
}

main {
    filter: blur(0px);
    transition: .5s ease-out;
    padding: 10px;
}

main.open {
    filter: blur(0px);
    transition: .5s ease;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid var(--color0);
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--color0);
    color: var(--color1);
    z-index: 999;
}

header>a {
    color: var(--color1);
    font-family: var(--gambetta);
    transition: .3s ease;
    font-size: 24px;
}

header>a:hover {
    color: var(--color2);
    transition: .3s ease;
}

#navigation ul {
    display: flex;
    align-content: center;
    justify-content: space-between;
    background-color: var(--color0);
}

#navigation li a {
    color: var(--color1);
    font-family: var(--gambetta);
    font-size: 18px;
    padding: 10px;
    margin: 3px;
    transition: .3s ease;
}

#navigation li a:hover {
    color: var(--color2);
    transition: .3s ease;
}

#navigation .active {
    color: var(--color3);
}

#hamburger {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
    color: var(--color1);
    transition: .3s ease;
}

#hamburger:hover {
    color: var(--color2);
    transition: .3s ease;
}

main {
    text-align: center;
    color: var(--color1);
    width: 90vw;
    margin: auto;
}

main h1 {
    font-family: var(--general-sans);
    text-align: center;
    color: var(--color1);
    padding: 10px;
    font-size: var(--h1-big);
}

main h2 {
    font-family: var(--gambetta);
    padding: 10px;
}

main p,
.content p {
    font-family: var(--gambetta);
    font-size: var(--p-big);
    padding: 5px;
}

.connect {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.connect li {
    padding: 5px;
    margin: 5px;
    transition: .3s ease;
}

.connect li:hover,
.content button:hover,
dialog button:hover,
.buttons button:hover {
    transform: scale(1.1);
    transition: .3s ease;
}

.connect li a {
    color: var(--color0);
    background-image: linear-gradient(45deg, var(--color1), var(--color2));
    padding: 10px;
    border-radius: 5px;
    font-family: var(--gambetta);
    border: 1px solid var(--color1);
    box-shadow: 0 0 .5em var(--color1);
    font-size: var(--a-big);
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.content img {
    width: 150px;
    height: 150px;
    margin: 10px;
    box-shadow: 0 0 .25em var(--color1);
}

.content h3 {
    font-size: 22px;
    font-family: var(--general-sans);
    padding: 5px;
}

.content div {
    border: 1px solid var(--color0);
    box-shadow: 0em 0em .15em var(--color1);
    border-radius: 10px;
    margin: 15px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content button,
dialog button {
    display: block;
    color: var(--color0);
    background-image: linear-gradient(45deg, var(--color1), var(--color2));
    padding: 10px;
    margin: 5px auto;
    border-radius: 5px;
    font-family: var(--gambetta);
    font-size: 18px;
    border: 1px solid var(--color1);
    box-shadow: 0 0 .5em var(--color1);
    transition: .3s ease;
    cursor: pointer;
}
dialog button {
    background-image: linear-gradient(45deg, var(--color0), var(--color0));
}

dialog {
    background-color: var(--color1);
    color: var(--color0);
    border: 1px solid var(--color0);
    margin: auto;
    max-width: 90vw;
    padding: 20px;
    border-radius: 10px;
    animation: dialogshow;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

dialog button {
    position: absolute;
    right: 20px;
    top: 10px;
}

dialog h3 {
    font-family: var(--gambetta);
    padding: 5px;
    margin: 5px;
}

dialog p {
    font-family: var(--gambetta);
    text-align: left;
    margin: 5px;
    padding: 5px;
}

dialog a {
    color: var(--color0);
    border-bottom: 1px solid var(--color2);
    margin: 5px;
    transition: .3s ease;
    font-family: var(--gambetta);
}

dialog a:hover {
    color: var(--color3);
    transition: .3s ease;
}

dialog a:active {
    color: var(--color3);
}

::backdrop {
    background-color: var(--color2);
    opacity: .25;
}

#back-to-top {
    position: fixed;
    bottom: 100%;
    right: 10px;
    font-size: 30px;
    rotate: 315deg;
    cursor: pointer;
    opacity: .7;
    transition: .5s ease-out;
    filter: opacity(0);
    z-index: 999;
}

#back-to-top.show {
    bottom: 10px;
    filter: opacity(1);
    animation: rotate;
    animation-duration: 10s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

.buttons button {
    padding: 10px;
    margin: 0 5px;
    box-shadow: 0 0 .5em var(--color3);
    font-family: var(--gambetta);
    color: var(--color0);
    background-image: linear-gradient(45deg, var(--color1), var(--color2));
    border-radius: 10px;
    border: 1px solid var(--color1);
    cursor: pointer;
    transform: scale(1);
    transition: .5s ease-in-out;
    font-size: var(--a-big);
}

.buttons button.click {
    background-image: linear-gradient(45deg, var(--color2), var(--color3));
    transform: scale(1.2);
    transition: .5s ease-in-out;
}

.contact {
    border-radius: 10px;
    box-shadow: 0em 0em .1em var(--color1);
    padding: 10px;
}

.contact img {
    width: 20px;
    margin: auto;
}

.contact a {
    display: block;
    text-align: center;
    margin: 5px;
    color: var(--color1);
    transition: .2s ease;
    font-family: var(--gambetta);
    font-size: 20px;
}

.contact a:active {
    color: var(--color3);
    transition: .2s ease;
}

.contact a:hover {
    color: var(--color2);
    transition: .2s ease;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-container div {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.skills-content {
    padding: 10px;
}

.skills-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.skills-body div {
    padding: 10px;
    border: 1px solid var(--color0);
    box-shadow: 0em 0em .2em var(--color1);
    border-radius: 10px;
    margin: 10px auto;
    width: 90%;
    transition: .3s ease;
    cursor: default;
}

.skills-body div h3 {
    font-family: var(--general-sans);
    font-size: 24px;
}

.skills-body div p {
    font-size: 18px;
}

.txt,
.btn,
.div {
    color: var(--color1);
    transform: translateY(-5%);
    opacity: 0;
    transition: 1s ease-in-out;
}

#welcome,
#works,
#contact,
#skills {
    font-family: var(--general-sans);
    text-align: center;
}

.txt:nth-of-type(1),
.txt:nth-of-type(2),
.txt:nth-of-type(3) {
    text-align: left;
}

.bth:nth-of-type(2).show {
    transition-duration: 200ms;
}

.txt.show,
.btn.show,
.div.show {
    transform: translateY(0%);
    opacity: 1;
    transition: 1s ease-in-out;
}

.btn1 {
    transform: translateX(-5%);
    opacity: 0;
    transition: 1s ease-in-out;
}

.btn1:nth-of-type(2).show {
    transition-delay: 50ms;
}

.btn1:nth-of-type(3).show {
    transition-delay: 100ms;
}

.btn1:nth-of-type(4).show {
    transition-delay: 150ms;
}

.btn1.show {
    transform: translateX(0%);
    opacity: 1;
    transition: 1s ease-in-out;
}

.pj {
    transform: translateX(-5%);
    opacity: 0;
    transition: 1s ease-in-out;
}

.sk {
    transform: translateY(-5%);
    opacity: 0;
    transition: 1s ease-in-out;
}

.pj.show,
.sk.show {
    transform: translateX(0%);
    opacity: 1;
    transition: 1s ease-in-out;
}

@keyframes dialogshow {
    0% {
        transform: translateY(-10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 38rem) {
    body {
        font-size: 16px;
    }

    main h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    p,
    a,
    button {
        font-size: 16px;
    }

    #hamburger {
        display: block;
    }

    #navigation {
        position: absolute;
        top: -1000%;
        left: 0;
        width: 100%;
        z-index: 1000;
        overflow: hidden;
        transition: .5s ease;
        z-index: -1;
    }

    #navigation.open {
        top: 100%;
        transition: .5s ease;
    }

    #navigation ul {
        display: block;
    }

    #navigation li {
        width: 99%;
        margin: 3px;
    }

    #navigation li a {
        width: 100%;
        text-align: center;
        display: block;
        font-size: 16px;
    }

    main p {
        font-size: 16px;
        font-weight: normal;
    }

    .contact-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    main {
        width: 100%;
    }

    main.open {
        filter: blur(2px);
        transition: .5s ease;
    }

    main p,
    .content p {
        font-size: 16px;
    }

    .connect li a {
        font-size: 16px;
    }

    .buttons button {
        font-size: 16px;
    }

    .content h3 {
        font-size: 20px;
    }

    .skills-body {
        grid-template-columns: 1fr;
    }

    .skills-body div h3 {
        font-size: 20px;
    }

    .skills-body div p {
        font-size: 16px;
    }

    .contact a {
        font-size: 18px;
    }
}