:root {
    /* Colors */
    --background: #121212;
    --text: #E0E0E0;
    --primary-buttons: #00A8E8;
    --hover-effect: #0085C7;
    --card-background: #1E1E1E;
    --heading-color: #FFFFFF;
    /* Fonts */
    --oswald: "Oswald", sans-serif;
    --rubik: "Rubik", sans-serif;
    --chivo: "Chivo", sans-serif;
    --comfortaa: "Comfortaa", sans-serif;
    --nunito: "Nunito", sans-serif;
    /* Font Sizes */
    --h1-big: 54px;
    --h1-small: ;
    --h2-big: 36px;
    --h2-small: ;
    --h3-big: 24px;
    --h3-small: ;
    --p-big: 20px;
    --p-small: ;
    --a-big: 16px;
    --a-small: ;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    /* font-family: var(--oswald); */
}

body {
    background-color: var(--background);
    font-size: 16px;
}

main {
    filter: blur(0px);
    transition: .2s ease;
    padding: 10px;
}

main.open {
    filter: blur(0px);
    transition: .2s ease;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid var(--card-background);
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--background);
    z-index: 999;
}

header>a {
    color: var(--heading-color);
    font-family: var(--chivo);
    /* font-size: 1.5em; */
    transition: .3s ease;
    font-size: 24px;
}

header>a:hover {
    color: var(--hover-effect);
    transition: .3s ease;
}

#navigation ul {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

#navigation li a {
    color: var(--text);
    font-family: var(--chivo);
    font-size: 16px;
    padding: 10px;
    margin: 3px;
    transition: .3s ease;
}

#navigation li a:hover {
    color: var(--hover-effect);
    transition: .3s ease;
}

#navigation .active {
    color: var(--primary-buttons);
}

#hamburger {
    font-size: 1.5em;
    cursor: pointer;
    display: none;
    color: white;
    transition: .3s ease;
}

#hamburger:hover {
    color: var(--hover-effect);
    transition: .3s ease;
}

main {
    text-align: center;
    color: white;
    max-width: 90vw;
    margin: auto;
}

footer {
    text-align: center;
    color: white;
    margin: auto;
}

main h1 {
    font-family: var(--oswald);
    padding: 10px;
    font-size: var(--h1-big);
}

main h2,
footer h2 {
    font-family: var(--oswald);
    padding: 10px;
    /* font-size: 24px; */
}

main p,
.content p {
    font-family: var(--nunito);
    font-size: var(--p-big);
    font-weight: lighter;
    padding: 5px;
}

.connect {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 5px;
}

.connect li {
    padding: 5px;
    margin: 5px;
    transition: .3s ease;
}

.connect li:hover,
.content button:hover,
dialog button:hover,
.buttons button:hover {
    transform: scale(1.1);
    transition: .3s ease;
}

.connect li a {
    color: white;
    background-color: var(--card-background);
    color: var(--primary-buttons);
    padding: 10px;
    border-radius: 5px;
    font-family: var(--comfortaa);
    border: 1px solid white;
    box-shadow: 0 0 .2em black;
    font-size: var(--a-big);
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.content img {
    width: 200px;
    padding: 10px;
}

.content h3 {
    font-size: 22px;
    font-family: var(--oswald);
    padding: 5px;
}

.content div {
    border: 1px solid var(--card-background);
    box-shadow: 0em 0em .15em white;
    border-radius: 10px;
    margin: 15px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

.content button,
dialog button {
    display: block;
    background-color: var(--card-background);
    color: var(--primary-buttons);
    padding: 10px;
    margin: 5px auto;
    border-radius: 5px;
    font-family: var(--comfortaa);
    border: 1px solid white;
    box-shadow: 0 0 .2em black;
    /* font-size: 12px; */
    transition: .3s ease;
    cursor: pointer;
}

dialog {
    background-color: var(--card-background);
    color: white;
    border: 1px solid var(--hover-effect);
    margin: auto;
    max-width: 90vw;
    padding: 20px;
    border-radius: 10px;
    /* position: inherit; */
}

dialog button {
    position: absolute;
    right: 20px;
    top: 10px;
}

dialog h3 {
    font-family: var(--oswald);
    /* font-size: 24px; */
    padding: 5px;
    margin: 5px;
}

dialog p {
    font-family: var(--inter);
    margin: 5px;
    padding: 5px;
}

dialog a {
    color: var(--primary-buttons);
    /* padding: 5px; */
    /* text-decoration: underline; */
    border-bottom: 1px solid var(--primary-buttons);
    margin: 5px;
    transition: .3s ease;
    font-family: var(--comfortaa);
}

dialog a:hover {
    color: var(--hover-effect);
    transition: .3s ease;
}

dialog a:active {
    color: var(--background);
}

::backdrop {
    background-image: linear-gradient(45deg, var(--card-background), var(--background));
    opacity: .9;
}

/* The button doesn't stay fixed in place, fix this on your next visit */
#back-to-top {
    position: fixed;
    bottom: 100%;
    right: 10px;
    font-size: 30px;
    rotate: 315deg;
    cursor: pointer;
    opacity: .7;
    transition: .5s ease;
    filter: opacity(0);
    z-index: 999;
}

#back-to-top.show {
    /* position: absolute; */
    bottom: 10px;
    /* right: 0%; */
    filter: opacity(1);
}

.buttons button {
    padding: 10px;
    margin: 0 5px;
    box-shadow: 0em 0em .5em black;
    font-family: var(--inter);
    background-image: linear-gradient(45deg, var(--hover-effect), var(--primary-buttons));
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
    transition: .5s ease;
    font-size: var(--a-big);
}

.contact {
    border-radius: 10px;
    box-shadow: 0em 0em .1em var(--heading-color);
    padding: 10px;
}

.contact img {
    width: 20px;
}

.contact a {
    display: block;
    text-align: center;
    margin: 5px;
    color: var(--primary-buttons);
    transition: .2s ease;
    font-family: var(--nunito);
    font-size: 20px;
}

.contact a:active {
    color: var(--background);
    transition: .2s ease;
}

.contact a:hover {
    color: var(--hover-effect);
    transition: .2s ease;
}

.contact-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-container div {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.skills-content {
    padding: 10px;
}

.skills-body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.skills-body div {
    padding: 10px;
    border: 1px solid var(--card-background);
    box-shadow: 0em 0em .2em var(--heading-color);
    border-radius: 10px;
    margin: 10px auto;
    width: 90%;
    transition: .3s ease;
    cursor: default;
}

.skills-body div h3 {
    font-size: 24px;
}

.skills-body div p {
    font-size: 18px;
}

.txt,
.btn {
    transform: translateY(-10%);
    filter: blur(.3px);
    opacity: 0;
    transition: 1s ease-in-out;
}

.txt.show,
.btn.show {
    transform: translateY(0%);
    filter: blur(0px);
    opacity: 1;
    transition: 1s ease-in-out;
}

.btn1 {
    transform: translateX(-10%);
    filter: blur(.3px);
    opacity: 0;
    transition: 1s ease-in-out;
}

.btn1.show {
    transform: translateX(0%);
    filter: blur(0px);
    opacity: 1;
    transition: 1s ease-in-out;
}

@media screen and (max-width: 38rem) {
    body {
        font-size: 16px;
    }

    main h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    p,
    a,
    button {
        font-size: 16px;
    }

    #hamburger {
        display: block;
    }

    #navigation {
        position: absolute;
        top: -1000%;
        left: 0;
        width: 100%;
        z-index: 1000;
        overflow: hidden;
        transition: .5s ease;
        border-bottom: none;
        background-color: var(--card-background);
        z-index: -1;
    }

    #navigation.open {
        top: 100%;
        border-bottom: 1px solid var(--card-background);
        transition: .5s ease;
    }

    #navigation ul {
        display: block;
    }

    #navigation li {
        width: 99%;
        margin: 3px;
    }

    #navigation li a {
        width: 100%;
        text-align: center;
        display: block;
        font-size: 16px;
    }

    main p {
        font-size: 16px;
        font-weight: lighter;
    }

    .contact-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    main {
        width: 100%;
    }

    main.open {
        filter: blur(2px);
        transition: .2s ease;
    }

    main p,
    .content p {
        font-size: 16px;
    }

    .connect li a {
        font-size: 16px;
    }

    .buttons button {
        font-size: 16px;
    }

    .content h3 {
        font-size: 18px;
    }

    .skills-body {
        grid-template-columns: 1fr;
    }

    .skills-body div h3 {
        font-size: 20px;
    }

    .skills-body div p {
        font-size: 16px;
    }

    .contact a {
        font-size: 18px;
    }
}